# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 16
<dl>
    <dt>12 horas (33.3%)</dt>
    <dd>ist199656 Diogo Guerreiro</dd>
    <dt>12 horas (33.3%)</dt>
    <dd>ist199642 André Bento</dd>
    <dt>12 horas (33.3%)</dt>
    <dd>ist1103972 Afonso Resendes</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer (<u>cust_no</u>, name, email, phone, address)
    - unique(email)
- Order_ (<u>order_no</u>,date, cust_no)
    - cust_no: FK (Customer)
    - IC-1: every Order_ (order_no) must participate in contains association
- Sale (<u>order_no</u>)
    - order_no: FK (Order_)
- pay (<u>order_no</u>, cust_no)
    - cust_no: FK (Customer)
    - order_no: FK (Order_)
    - IC-2: Customers can only pay for the sale of an order they placed
- Product (<u>sku</u>, name, description, price)
- contains (<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK (Order_)
    - sku: FK (Product)
- EAN Product (<u>sku</u>, ean)
    - sku: FK (Product)
- Supplier (<u>TIN</u>, name, address, sku)
    - sku: FK (Product) NOT NULL
- supply-contract (<u>sku</u>, <u>TIN</u>, date)
    - sku: FK (Product)
    - TIN: FK (Supplier)
- Employee (<u>ssn</u>, TIN, bdate, name)
    - unique (TIN)
    - IC-3: every Employee (ssn) must participate in works association
- Workplace (<u>address</u>, lat, long)
    - unique (lat,long)
- Department (<u>name</u>)
- works (<u>ssn</u>,<u>name</u>,<u>address</u>)
    - ssn: FK (Employee)
    - name: FK (Department)
    - address: FK (Workplace)
- Office (<u>address</u>)
    - address: FK (Workplace)
- Warehouse (<u>address</u>)
    - address: FK (Workplace)
- delivery (<u>address</u>, <u>sku</u>, <u>TIN</u>)
    - address: FK (Warehouse)
    - sku, TIN: FK (supply-contract)
- process (<u>ssn</u>,<u>order_no</u>)
    - ssn: FK (Employee)
    - order_no: FK (Order_)

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- IC-1: Every Order_ (order_no) must participate in contains association.
- IC-2: Customers can only pay for the sale of an order they placed themselves.
- IC-3: Every Employee (ssn) must participate in works association.

- IC-4: An address of an workplace can´t be an Office and a Warehouse at the same time.
- IC-5: When an Order_ (order_no) is removed form the database it must also be removed from the Sale.
- IC-6: When an Office is removed from the database it must also be removed from the Workplace.
- IC-7: When a Warehouse is removed from the database it must also be removed from the Workplace.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{customer.name} \big( \sigma_{product.price >50\wedge order.date > 01/01/2023} (Customer \bowtie_{customer.cust-no = order.custo-no} Order \bowtie_{contains.order-no = order.order-no} contains \bowtie_{contains.sku = product.sku} product) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{employee.name} \big( \sigma_{order.date > 01/01/2023\wedge order.date < 31/01/2023} (Order \bowtie_{order.order-no = process.order-no} process \bowtie_{process.ssn = employee.ssn} Employee \bowtie_{employee.ssn = works.ssn} works \bowtie_{works.address = warehouse.address}) Warehouse \big) - \Pi_{employee.name} \big( \sigma_{order.date > 01/01/2023\wedge order.date < 31/01/2023} (Order \bowtie_{order.order-no = process.order-no} process \bowtie_{process.ssn = employee.ssn} Employee \bowtie_{employee.ssn = works.ssn} works \bowtie_{works.address = office.address}) Office \big)$

3. Indique o nome do produto mais vendido;

$( T <- (_{product.name} G _{sum(contains.qty) -> qty-total} (Sale \bowtie_{sale.order-no = order.order-no} Order \bowtie_{order.order-no = contains.order-no} Contains \bowtie_{contains.sku = product.sku} Product ) \big))$

$\Pi_{product.name} (T \bowtie G _{max(qty-total)} (T))$

4. Indique o valor total de cada venda realizada.

$ T <- (_{order-no} G _{sum(qty*price) -> sum-price} (Sale \bowtie_{sale.order-no = order.order-no} Order \bowtie_{order.order-no = contains.order-no} Contains \bowtie_{contains.sku = product.sku} Product))$

$\Pi_{T.order-no, T.sum-price} (T)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [34]:
%load_ext sql 
%sql postgresql://db:db@postgres/project

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql

CREATE TABLE customer (
    cust_no INTEGER,
    name VARCHAR(80) NOT NULL,
    email VARCHAR(80) NOT NULL UNIQUE,
    phone INTEGER NOT NULL,
    PRIMARY KEY (cust_no));


CREATE TABLE order_ (
    order_no INTEGER,
    date DATE,
    cust_no INTEGER NOT NULL,
    PRIMARY KEY (order_no),
    FOREIGN KEY(cust_no) REFERENCES customer);

CREATE TABLE sale (
    order_no INTEGER,
    PRIMARY KEY (order_no),
    FOREIGN KEY(order_no) REFERENCES order_);

CREATE TABLE pay (
    order_no INTEGER,
    cust_no INTEGER NOT NULL,
    PRIMARY KEY (order_no),
    FOREIGN KEY(order_no) REFERENCES customer,
    FOREIGN KEY(cust_no) REFERENCES order_);

CREATE TABLE product(
    name VARCHAR(80) NOT NULL,
    description VARCHAR(80) NOT NULL,
    price INTEGER NOT NULL,
    sku INTEGER,
    PRIMARY KEY (sku));

CREATE TABLE contains(
    order_no INTEGER,
    sku INTEGER NOT NULL,
    qty INTEGER NOT NULL,
    PRIMARY KEY (sku,order_no),
    FOREIGN KEY(order_no) REFERENCES order_,
    FOREIGN KEY(sku) REFERENCES product);

CREATE TABLE ean_product(
    sku INTEGER,
    ean VARCHAR(80) NOT NULL,
    PRIMARY KEY(sku),
    FOREIGN KEY(sku) REFERENCES product);

CREATE TABLE supplier (
    TIN INTEGER,
    name VARCHAR(80) NOT NULL,
    address VARCHAR(80) NOT NULL,
    sku INTEGER NOT NULL,
    PRIMARY KEY (TIN),
    FOREIGN KEY(sku) REFERENCES product);

CREATE TABLE supply_contract(
    date DATE NOT NULL,
    sku INTEGER,
    TIN INTEGER,
    PRIMARY KEY (sku,TIN),
    FOREIGN KEY(sku) REFERENCES product,
    FOREIGN KEY(TIN) REFERENCES supplier);

CREATE TABLE employee (
    ssn INTEGER,
    TIN INTEGER NOT NULL UNIQUE,
    bdate DATE NOT NULL,
    name VARCHAR(80) NOT NULL,
    PRIMARY KEY (ssn));

CREATE TABLE workplace (
    address VARCHAR(80),
    lat FLOAT NOT NULL,
    log FLOAT NOT NULL,
    UNIQUE (lat,log),
    PRIMARY KEY (address));

CREATE TABLE department (
    name VARCHAR(80),
    PRIMARY KEY (name));


CREATE TABLE works (
    ssn INTEGER,
    name VARCHAR (80),
    address VARCHAR(80),
    PRIMARY KEY (ssn,name,address),
    FOREIGN KEY(ssn) REFERENCES employee,
    FOREIGN KEY(name) REFERENCES department,
    FOREIGN KEY(address) REFERENCES workplace);

CREATE TABLE office (
    address VARCHAR(80),
    PRIMARY KEY (address),
    FOREIGN KEY(address) REFERENCES workplace);

CREATE TABLE warehouse (
    address VARCHAR(80),
    PRIMARY KEY (address),
    FOREIGN KEY(address) REFERENCES workplace);

CREATE TABLE delivery (
    address VARCHAR(80),
    sku INTEGER,
    TIN INTEGER,
    PRIMARY KEY (address,sku,TIN),
    FOREIGN KEY(address) REFERENCES warehouse,
    FOREIGN KEY(sku, TIN) REFERENCES supply_contract);

CREATE TABLE process (
    ssn INTEGER,
    order_no INTEGER,
    PRIMARY KEY (order_no, ssn),
    FOREIGN KEY(ssn) REFERENCES employee,
    FOREIGN KEY(order_no) REFERENCES order_);

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- schema.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [36]:
%%sql

INSERT INTO customer (cust_no, name, email, phone)
VALUES (1, 'Bernardo Ribeiro', 'benny@example.com', 925954362),
       (2, 'Dinis Matias', 'BINISS@example.com', 987656821),
       (3, 'Gonçalo Monteiro', 'belho@example.com', 98347321),
       (4, 'João Jesus', 'jj@example.com', 93579826);


INSERT INTO order_ (order_no, date, cust_no)
VALUES (1, '2023-05-24', 1),
       (2, '2023-05-23', 2),
       (3, '2022-01-21', 3),
       (4, '2023-01-21', 4);


INSERT INTO sale (order_no)
VALUES (1),
       (2);


INSERT INTO pay (order_no, cust_no)
VALUES (1, 1),
       (2, 2);



INSERT INTO product (name, description, price, sku)
VALUES ('Product 1', 'Description 1', 10, 1001),
       ('Product 2', 'Description 2', 20, 1002);
       ('Product 3', 'Description 3', 61, 1003);


INSERT INTO contains (order_no, sku, qty)
VALUES (1, 1001, 2),
       (1, 1002, 1),
       (2, 1001, 3),
       (4, 1001, 2),
       (4, 1003, 2);


INSERT INTO ean_product (sku, ean)
VALUES (1001, 'EAN001'),
       (1002, 'EAN002');


INSERT INTO supplier (TIN, name, address, sku)
VALUES (123456789, 'Supplier 1', 'Address 1', 1001),
       (987654321, 'Supplier 2', 'Address 2', 1002);



INSERT INTO supply_contract (date, sku, TIN)
VALUES ('2023-05-24', 1001, 123456789),
       ('2023-05-23', 1002, 987654321);



INSERT INTO employee (ssn, TIN, bdate, name)
VALUES (1, 123456789, '1990-01-01', 'Employee 1'),
       (2, 987654321, '1995-02-02', 'Employee 2'),
       (3, 484937894, '1990-01-01', 'Employee 3'),
       (4, 446543212, '1995-02-02', 'Employee 4');


INSERT INTO workplace (address, lat, log)
VALUES ('Address 1', 40.7128, -74.0060),
       ('Address 2', 34.0522, -118.2437),
       ('Address 3', 30.7148, -34.0060),
       ('Address 4', 43.5628, -77.0960);


INSERT INTO department (name)
VALUES ('IT'),
       ('RH');


INSERT INTO works (ssn, name, address)
VALUES (1,'IT', 'Address 1'),
       (2,'RH', 'Address 2'),
       (3,'IT', 'Address 3'),
       (4,'RH', 'Address 4'),
       (4,'RH', 'Address 1');



INSERT INTO office (address)
VALUES ('Address 1'),
       ('Address 2');


INSERT INTO warehouse (address)
VALUES ('Address 3'),
       ('Address 4');


INSERT INTO delivery (address, sku, TIN)
VALUES ('Address 3', 1001, 123456789),
       ('Address 4', 1002, 987654321);


INSERT INTO process (ssn, order_no)
VALUES (1, 1),
       (2, 2),
       (3, 4),
       (4, 4);

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- populate.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [37]:
%%sql

SELECT customer.name
    FROM
        customer JOIN order_ USING (cust_no) JOIN contains USING (order_no) JOIN product USING (sku)
    WHERE
        product.price >50
    AND
        EXTRACT(YEAR FROM order_.date)>=2023;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [38]:
%%sql

SELECT employee.name
    FROM
        order_ JOIN process USING (order_no) JOIN employee USING(ssn) JOIN works USING(ssn) JOIN warehouse USING(address)
    WHERE EXTRACT(YEAR FROM order_.date)=2023 AND EXTRACT(MONTH FROM order_.date)=1
                            EXCEPT
SELECT employee.name
    FROM
        order_ JOIN process USING (order_no) JOIN employee USING(ssn) JOIN works USING(ssn) JOIN office USING(address)
    WHERE EXTRACT(YEAR FROM order_.date)=2023 AND EXTRACT(MONTH FROM order_.date)=1;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

3. Indique o nome do produto mais vendido;

In [39]:
%%sql

SELECT T.name
FROM (
    SELECT product.name, SUM(contains.qty) AS qty_total
    FROM sale
    JOIN order_ USING (order_no)
    JOIN contains USING (order_no)
    JOIN product USING (sku)
    GROUP BY product.name
) AS T
JOIN (
    SELECT MAX(qty_total) AS max_qty_total
    FROM (
        SELECT product.name, SUM(contains.qty) AS qty_total
        FROM sale
        JOIN order_ USING (order_no)
        JOIN contains USING (order_no)
        JOIN product USING (sku)
        GROUP BY product.name
    ) AS B
) AS C
ON T.qty_total = C.max_qty_total;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

4. Indique o valor total de cada venda realizada.

In [40]:
%%sql

SELECT T.order_no, sum_preco
FROM (
    SELECT order_.order_no, SUM(contains.qty * product.price) as sum_preco 
    FROM sale
    JOIN order_ USING(order_no)
    JOIN contains USING(order_no)
    JOIN product USING(sku)
    GROUP BY order_.order_no
) AS T;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)